button {
  width: 250px;
  height: 80px;
  font-family: Roboto,sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: black;
  border: 2px solid black;
  border-radius: 15px;
  margin: 5px;
  cursor: pointer;
}

button:hover{
  background-color: #00471b;
}

.boton-clic{
  background-color: #002ead;
}

.boton-reiniciar{
  background-color: #5a01a7;
}